.item.header
  a.item(href= filters.urlFor('/'))
    img.ui.image.medium(src= filters.urlFor('/public/images/logos/menteludic/logo_menteludic_negativo_horizontal.png'), alt= siteInfo.siteName)
a.item(href= filters.urlFor('/')) Inicio
//- a.item(href= filters.urlFor('/pages/boardgames/')) Juegos de mesa
//- a.item(href= filters.urlFor('/pages/ttrpg/')) Juegos de Rol
//- a.item(href= filters.urlFor('/pages/wargames/')) Wargames y Miniaturas
a.item(href= filters.urlFor('/pages/events/')) Eventos Menteludic
a.item(href= filters.urlFor('/pages/about/')) La Asociación
a.item(href= filters.urlFor('/como-funciona')) Cómo funciona
a.item(href= filters.urlFor('/apuntate')) Apúntate
//- a.item(href= filters.urlFor('/pages/contacto/')) Contacto


