.item.header
  img.ui.image.medium(src= filters.urlFor('/public/images/logos/menteludic/logo_menteludic_negativo_horizontal.png'), alt= siteInfo.siteName)
a.item(href= filters.urlFor('/')) Inicio
a.item(href= filters.urlFor('/pages/juegos_de_mesa/')) Juegos de mesa
a.item(href= filters.urlFor('/pages/juegos_de_rol/')) Juegos de Rol
a.item(href= filters.urlFor('/pages/miniaturas/')) Miniaturas
a.item(href= filters.urlFor('/pages/events/')) Eventos
a.item(href= filters.urlFor('/pages/acerca_de/')) Acerca de
a.item(href= filters.urlFor('/pages/contacto/')) Contacto

