
.ui.basic.segment
  .ui.fluid.vertical.menu
    .item
      h3.ui.header
        i.pencil.icon
        .content
          a(href= 'https://portalludico.fillout.com/altas', target='_blank') Inscríbete
    .item
      h3.ui.header
        i.calendar.outline.icon
        .content
          a(href= filters.urlFor('/pages/calendar'), title= 'Calendario Actividades') Calendario
