.ui.basic.segment
  .ui.clearing.segment.vertical
    h1.header Eventos Anteriores

    .ui.bulleted.list
      each event in collections.eventsSorted
        if event.data.eventDate
          .item
            .date
              b= event.data.eventDate
            .link
              a(href= filters.urlFor(event.data.permalink))= event.data.pageTitle

.ui.basic.segment
  .ui.clearing.segment.vertical
    h1.header Próximos Eventos

    .ui.bulleted.list
      .item
        .date
          b Marzo 22 y 23 de 2025
        .link
          a(href= "/blog/evento-collado-villalba-22-y-23-de-marzo/") Menteludic Ocio en en Familia