---
title: Acerca de...
---
extends ../includes/layouts/side_bar.pug
include ../includes/layouts/mixins/blogList.pug

block contents
  #about
    .ui.segment
      h1 Acerca de

      .ui.basic.segment
        img.ui.left.tiny.floated.image(src= filters.urlFor('/public/images/logos/portalludico.png'))
        p La Asociación Cultural Portal Lúdico es una asociación sin animo de lucro, ubicada en Alpedrete (Madrid) pero de ámbito nacional, orientada a la difusión y creación de actividades relacionadas con los juegos en sus diferentes variantes educolúdicas.
        p El principal objetivo de la Asociación es fomentar la utilización de juegos de mesa y rol, en todas sus variantes, como alternativa de ocio en España, así como dar a conocer sus ventajas educativas, culturales y lúdicas entre los miembros de la asociación o personas ajenas a ésta. Para ello colaboramos con diversas entidades públicas y privadas para fomentar este sano modo ocio.
        p Si quieres conocer lo que hacemos, te invitamos a que pases por nuestra sede y nos conozcas. Si tu pasión son los juegos de mesa, rol, miniaturas y wargames... ¡Este es tu espacio!

      .ui.accordion
        h2.title
          i.dropdown.icon
          | Cómo nos Organizamos

        .content
          .ui.basic.container.segment.block.clear
            h3 Organización formal

            p Como asociación, tenemos la estructura formal legal de una asociación, con la asamblea de socios como órgano soberano democrático de la asociación. La asociación es de cada uno de sus socios.

            p La Junta directiva es el órgano de gestión formal de la asociación. Actualmente la junta directiva se compone de:
            .ui.bulleted.list
              .item Presidente - Israel Díaz González
              .item Vicepresidente – Daniel frías
              .item Secretario – Juanmi Céspedes
              .item Tesorero – Manuel Martínez
              .item Vocal de juegos de mesa – Pablo Fuentes
              .item Vocal de rol – Roberto M. Oliva

            h3 El día a día

            p Si bien esta es la organización más formal y oficial, intentamos que el día a día de la asociación sean los socios los que participen de la manera que consideren y puedan aportar en beneficio de la comunidad.

            p Grupos de trabajo activos:

            .ui.bulleted.list
              .item Eventos: Con las que liamos (con algunos eventos con más de 1000 asistentes en tres días), necesitamos estar bien coordinados.
              .item Web y newsletter. Dónde intentamos conectar tanto con los socios como con personas que acuden a nuestros eventos y tener el mejor escaparate ante cualquier persona u organización interesada en nosotros.
              .item Cantina y orden en la asociación: Somos muchos socios, y necesitamos organizar la logistica.
              .item Gestión de la ludoteca: Con más de 500 juegos enfocados a todo tipo de enfoque del hobby.
              .item Gestión de casas rurales: para coordinar las escapadas lúdicas que hacemos dos veces al año.

            p Más allá de esto, hay personas concretas encargadas de temas concretos:

            .ui.bulleted.list
              .item Redes sociales: Sergio
              .item La colaboración y los acuerdos con tiendas (que siempre está bien conseguir descuentos :D), gestionado por Jorge
              .item Acogida de socios, para que quien entre, no lo haga con un aterrizaje forzoso, y gestionada por Pablo

            h3 ¿Cómo nos comunicamos?

            p Para el día a día, nos comunicamos por dos grupos de Telegram.

            p Uno, el más formal, dedicado a las comunicaciones más orientadas a nuestro hobby y la gestión de la asociación: juegos de mesa, rol, wargames, anuncios oficiales, eventos…

            p En el segundo, de #offtopics, abrimos las conversaciones a temáticas más variadas: talleres de pintura, cómics, videojuegos, quedadas para escape rooms, o lo que se tercie.

        h2.title
          i.dropdown.icon
          | El Local

        .content
          .ui.basic.container.segment.block.clear
            p Disponemos de un local climatizado en la
              a(href= siteInfo.googleLocationSrc)
                |  C/Puerta de abajo 49, de Alpedrete,
              |  de más de 100m2 con un aforo de hasta 50 personas sentadas. Cuenta con un aseo completo, sistema de acceso digital remoto, y seguridad por videovigilancia.

            p
              | La mayor parte del local la ocupa
              b  la zona de juego
              |  (como no podía ser menos). Con 8 mesas “estables” y posibilidad de ampliarlas si es necesario, este espacio se configura como un espacio dinámico en el que tanto se pueden jugar las partidas del día a día, como combinarse o distribuirse para partidas grandes o incluso torneos de wargames.

            img.ui.image.medium.rounded.floated.left(src= filters.urlFor("/public/images/blog/about/local2.jpg") alt="Foto General del Local de la Asociación" title="Foto General del Local de la Asociación")

            p Además disponemos de una mesa para juegos iluminada para que quien lo desee pueda tener una experiencia de juego aún más gratificante

            p Buena parte del local lo ocupa
              a(href= "https://boardgamegeek.com/collection/user/Portalludico")
                |  una ludoteca de más de 500 referencias
              |. Desde juegos para los más
              b  peques
              |  a euros duros, pasando por juegos familiares, wargames...

        h2.title
          i.dropdown.icon
          | Otras Actvidades

        .content
          .ui.basic.container.segment.block.clear
            img.ui.image.rounded(src= filters.urlFor('/public/images/asociacion/casa_rural_all.jpg'))

            p Cada año organizamos dos casas rurales (una en verano y otra en invierno donde podemos desplegar sin limitación horaria nuestras aficiones. En las de verano (con más de 50 personas) también acuden familia y amigos si lo desean.
            p También se ha abierto un club de lectura de comics, hacemos quedadas para ir al cine o nos aconsejamos sobre el mejor fontanero de la zona o novedades en videojuegos.

    if collections.blogAbout.length
      .ui.segment
        .ui.basic.segment
          +blogList(collections.blogAbout)

block side_bar
  #donde_estamos
    .ui.segment
      h3.header Aquí estamos
      p
        = "C/Puerta de abajo 49"
        br
        = "Alpedrete"
      p
        iframe(allowfullscreen= '', frameborder= "0", height= "250", src= siteInfo.googleLocationSrc, width= "200")
    .ui.segment
      h3.header Para Contactar con Nosotros
      .ui.link.list.center.aligned
        .item
          i.icon.twitter
          .content
            a.item(href= siteInfo.contactLinks.twitter, target= '_blank')  Twitter
        .item
          i.icon.envelope
          .content
            a.item(href= siteInfo.contactLinks.bluesky, target= '_blank')  Bluesky
        .item
          i.icon.instagram
          .content
            a.item(href= siteInfo.contactLinks.instagram, target= '_blank')  Instagram
        .item
          i.icon.calendar
          .content
            a.item(href= siteInfo.contactLinks.meetup, target= '_blank')  Meetup
        .item
          i.icon.envelope
          .content
            a.item(href= siteInfo.contactLinks.mail, target= '_blank')  Correo



