---
title: Acerca de...
---
extends ../includes/layouts/full_page.pug
include ../includes/layouts/mixins/blogList.pug

block contents
  #about
    .ui.segment
      h1 Acerca de

      .ui.basic.segment
        img.ui.left.tiny.floated.image(src= filters.urlFor('/public/images/logos/portalludico.png'))
        p La Asociación Cultural Portal Lúdico es una asociación sin animo de lucro, ubicada en Collado Villalba (Madrid) pero de ámbito nacional, orientada a la difusión y creación de actividades relacionadas con los juegos en sus diferentes variantes educolúdicas.
        p El principal objetivo de la Asociación es fomentar la utilización de juegos de mesa y rol, en todas sus variantes, como alternativa de ocio en España, así como dar a conocer sus ventajas educativas, culturales y lúdicas entre los miembros de la asociación o personas ajenas a ésta. Para ello colaboramos con diversas entidades públicas y privadas para fomentar este sano modo ocio.
        p Si quieres conocer lo que hacemos, te invitamos a que pases por nuestra sede y nos conozcas. Si tu pasión son los juegos de mesa, rol, miniaturas y wargames... ¡Este es tu espacio!

      .ui.basic.segment
        img.ui.right.medium.floated.image(src= filters.urlFor('/public/images/asociacion/casa_rural.jpg'))

        h3 Otras Actividades
        p Cada año organizamos dos casas rurales (una en verano y otra en invierno donde podemos desplegar sin limitación horaria nuestras aficiones. En las de verano (con más de 50 personas) también acuden familia y amigos si lo desean.
        p También se ha abierto un club de lectura de comics, hacemos quedadas para ir al cine o nos aconsejamos sobre el mejor fontanero de la zona o novedades en videojuegos.

      .ui.basic.segment
        .ui.red.basic.big.button
          a(href= filters.urlFor('/pages/faq'), title= '¿Quieres saber más sobre nosotros?')
            i.question.circle.outline.icon
            | Preguntas Frecuentes

      .ui.basic.segment
        h3 Política de privacidad
        | Puedes consultar nuestra política de privacidad
        a(href= filters.urlFor('/pages/politica_privacidad'))
          |  aquí

      .ui.basic.segment
        #donde_estamos
          h3 Aquí estamos
          p
            iframe(allowfullscreen= '', frameborder= "0", height= "450", src= siteInfo.googleLocationSrc, width= "600")

    .ui.segment
      .ui.basic.segment
        +blogList(collections.blogAbout)
