---
title: Juegos de Mesa
---
extends ../includes/layouts/full_page.pug
include ../includes/layouts/mixins/blogList.pug

block contents
  #boardgames
    .ui.segment
      h1.ui.dividing.header Juegos de Mesa
      p
        a(href= siteInfo.bggLocationSrc, target='_blank', title='Consulta la ludoteca de la Asociación en la BGG') Con una ludoteca de más de 500 juegos
        |  y suficiente espacio en el local para más de 40 personas, jugamos desde juegos familiares a los euros más duros del mercado.
      p También desde pequeños fillers a campañas de más de 50 horas (el que aguante).
      p Los
        b  Viernes del Socio
        | , es cuándo más socios acudimos, pero en cualquier momento la asociación está abierta para que los socios jueguen a los juegos de la ludoteca o los que quieran traer de casa.

      .ui.basic.segment
        img.ui.image.fluid.rounded(src= filters.urlFor("/public/images/boardgames/portada.png"), alt="Asociación Portal Lúdico")

      .ui.basic.segment
        h1.ui.dividing.header Información básica para disfrutar de los juegos de mesa:

        .ui.bulleted.list
          .item
            .header
              a(href= filters.urlFor("/blog/clasificacion-de-juegos-de-mesa/"), alt="Tipos de Juegos de mesa") Tipos de Juegos de mesa
          .item
            .header
              a(href= filters.urlFor("/blog/mecanicas-de-los-juegos-de-mesa/"), alt="Mecánicas de Juegos de Mesa") Mecánicas de Juegos de Mesa
          .item
            .header
              a(href= filters.urlFor("/blog/juegos-de-mesa-de-entrada/"), alt="Juegos de mesa de entrada") Juegos de mesa de entrada
          .item
            .header
              a(href= filters.urlFor("/blog/party-games/"), alt="Juegos Party") Juegos Party
          .item
            .header
              a(href= filters.urlFor("/blog/juegos-tematicos/"), alt="Juegos Temáticos") Juegos Temáticos
          .item
            .header
              a(href= filters.urlFor("/blog/eurogames/"), alt="Eurogames") Eurogames


    if collections.blogBoardgames.length
      .ui.segment
        .ui.basic.segment
          h1.ui.dividing.header Últimas Noticias
          +blogList(collections.blogBoardgames)

