---
title: Eventos
---
extends ../includes/layouts/full_page.pug

block contents
  #calendar
    .ui.segment
      h1.ui.dividing.header Calendario Actividades

      iframe(src= siteInfo.calendarSrc style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no")
