---
title: Contacto
---
extends ../includes/layouts/full_page.pug

block contents
  #contact

  .ui.basic.segment
    h1.header Contacta con nosotros
    p
      | Si deseas ponerte en contacto con nosotros, nos encantaría escucharte. Puedes comunicarte con nosotros a través de los siguientes enlaces:
    .ui.three.column.grid
      .column
      .column
        .ui.link.list.center.aligned
          .item
            i.icon.twitter
            .content
              a.item(href= siteInfo.contactLinks.twitter, target= '_blank')  Twitter
          .item
            i.icon.facebook
            .content
              a.item(href= siteInfo.contactLinks.facebook, target= '_blank')  Facebook
          .item
            i.icon.instagram
            .content
              a.item(href= siteInfo.contactLinks.instagram, target= '_blank')  Instagram
          .item
            i.icon.calendar
            .content
              a.item(href= siteInfo.contactLinks.meetup, target= '_blank')  Meetup
          .item
            i.icon.envelope
            .content
              a.item(href= siteInfo.contactLinks.mail, target= '_blank')  Correo
      .column
