---
title: Contacto
---
extends ../includes/layouts/full_page.pug

block contents
  #contact

  .ui.basic.segment
    h1.header Preguntas frecuentes

  .ui.basic.segment
    .ui.grid
      .four.wide.column
        img.ui.spaced.image.rounded(src= filters.urlFor('/public/images/faq/jaciel-melnik-DT9d0RzDfe4-unsplash-2048x1150.jpg'))
        img.ui.spaced.image.rounded(src= filters.urlFor('/public/images/faq/pexels-cottonbro-4691555-1024x683.jpg'))
        img.ui.spaced.image.rounded(src= filters.urlFor('/public/images/faq/robert-coelho-laNNTAth9vs-unsplash-683x1024.jpg'))
      .twelve.wide.column
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Qué hacemos?
          .content
            p Portal Lúdico es un espacio para quienes disfrutan de los juegos de mesa, wargames y rol, sin importar su nivel de experiencia. Aquí puedes conocer a personas con tus mismos intereses, aprender juegos nuevos y disfrutar de nuestra amplia ludoteca.
            p También contamos con una sala de juegos y un grupo de Telegram para que los socios puedan comunicarse, organizar partidas y charlar.
            p Organizamos eventos para promover el hobby entre quienes aún no lo conocen, colaborando con entidades públicas y privadas, y puertas adentro realizamos actividades para socios, como encuentros en casas rurales, talleres de pintura y quedadas.
            p Nuestro punto de encuentro es la tienda Portal de Juegos (mapa), donde los viernes a la tarde tenemos el Día del Socio (cuándo más fácil será encontrar da otros jugones en su hábitat natural, pastando alrededor de una mesa).
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Puedo ir a probar?
          .content
            p ¡Claro! Si quieres venir a ver cómo funciona la asociación en persona, pásate un viernes por la tarde y puedes conocernos a los que estemos por ahí, y echar alguna partida en alguna mesa que haya un hueco.
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Cómo me apunto? ¿Cuánto cuesta y cómo se paga?
          .content
            p
              | Muy fácil. Solo tienes que rellenar
              a(href= 'https://portalludico.fillout.com/altas', target= '_blank')  este formulario
              |  para darte de alta.
            p En el formulario te pediremos:
            .ui.bulleted.list
              .item tus datos personales
              .item que aceptes la política de privacidad y de tratamiento de datos personales
              .item y tendrás que enviar el justificante de pago de la cuota de la asociación.
            p Si te estás apuntando por primera vez, puedes probar la asociación por 3 meses por 15 €. Si no, los precios son los siguientes:
            .ui.bulleted.list
              .item 3 meses: 45 €
              .item 6 meses: 60 €
              .item 1 año: 120 € (90 € desde el segundo año)
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Puedo llevar invitados?
          .content
            p Los socios tienen derecho a llevar 6 invitados por año sin coste. A partir del séptimo, hay que pagar 5€ por invitado.

            .ui.bulleted.list
              .item Si vas a llevar a un invitado, simplemente menciónalo en el grupo de Telegram, en el canal Portal Lúdico – Chat General. ¡Nos gusta saber cuando vienen visitas! También coméntaselo al dependiente de la tienda cuando llegues.
              .item Eres responsable por el comportamiento de los invitados que lleves.
              .item Los invitados solo pueden permanecer en la tienda mientras tú estés.
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Pueden ir niños?
          .content
            p Los socios tienen que tener como mínimo 16 años. Pero si tienes hijos/as, puedes traerlos y sin que tengan que asociarse.
            p Solo pueden quedarse mientras tú estás en la tienda, para hacerte cargo. Y los juegos de mesa pueden pedir bastante concentración, así que por favor: diles que se lo tomen con calma. 😉
            p Hay otros jugones con hijos e hijas, y muchas veces se coordinan para que vengan a la vez, y que puedan encontrarse con otros de gustos parecidos.
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Además de partidas en la asociación, que otras actividades regulares existen?
          .content
            p La asociación colabora con una serie de eventos organizados por ayuntamientos de la zona, como Menteludic y la Feria del Comic, ambos en Villalba.
            p En estos eventos participamos llevando juegos de nuestra ludoteca, y organizando partidas y enseñando juegos a gente que quiera acercarse al hobby.
            p Participamos en estos eventos para promocionar el hobby (y conseguir más jugones), y también para conseguir financiación para la asociación.
            p Cuando estos eventos se ponen en marcha, usamos el canal “Eventos” dentro del grupo de Telegram, para que los socios que quieran y puedan colaborar puedan coordinarse.
            p Además de esto, intentamos irnos a pasar un fin de semana juntos a una casa rural dos veces por año, una en verano y otra en invierno. Nos juntamos entre 20 a ¡50! jugones a pasar un fin de semana jugando y pasándolo bien en grupo.
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Puedo apuntarme a una partida aunque no sepa jugar?
          .content
            p Casi siempre:
              b  sí.
            p La asociación está llena de gente que no tiene problema en enseñar juegos cuando haga falta. En alguna ocasión alguien pedirá jugadores experimentados, para empezar a jugar antes. En caso de duda, pregunta.
            p Aunque no haya problema en explicar, se agradece mucho cuando los que no conocen el juego dedican un poco de tiempo a aprender antes de llegar a la partida. Casi siempre, si buscas “Como jugar a CualquierJuego”, vas a encontrar muchos tutoriales en YouTube. Verse uno (o dos), acelera mucho la explicación.
            p Y si no tienes ni idea de qué va el juego, es muy recomendable investigar un poco antes de apuntarte a ciegas. Hay un juego para todos, pero no todos los juegos son para uno. La web de referencia para buscar información de un juego es “Board Game Geek“. Si buscas un juego ahí, puedes encontrar algunos parámetros que te pueden indicar si ese juego es lo que estás buscando:
            img.ui.image.fluid.rounded(src= filters.urlFor('/public/images/faq/image-1024x282.png'))
            p
            p “Weight” (peso), indica la “complejidad” de un juego, del 1 al 5. Los juegos por encima de 3 se pueden llegar a hacer durillos si no son tu estilo y no tienes experiencia, así que apúntate a sabiendas de lo que te puedes encontrar (así tú y todos se lo pasan bien).
            p Y “Playing Time” (duración), te va a dar una idea si vas a una experiencia corta, o si se alargará hasta la noche. (Ten en cuenta que estos tiempos son estimados, y que es muy fácil y habitual que las partidas duren bastante más que lo que pone aquí).
        .ui.styled.fluid.accordion
          .title
            i.dropdown.icon
            | ¿Qué juegos hay en la ludoteca y como puedo usarlos?
          .content
            p En la ludoteca de la asociación hay más de 500 juegos que todos los socios podemos usar. Puedes encontrar la lista completa
              a(href= 'https://geekgroup.app/users/portalludico/collection', target= '_blank')
                |  aquí
            p Las reglas son sencillas:
            .ui.bulleted.list
              .item
                | Los juegos
                b  no pueden salir de la asociación
                |  (a menos que sea para un evento organizado por la asociación)
              .item Los juegos son de todos, y cuánto más se cuiden, más duran. Hay que tratarlos con atención y cariño, particularmente si se come o bebe en la mesa. Las bebidas no se apoyan en la mesa, no comas cosas que manchen al mismo tiempo que juegas.
              .item Al terminar, guarda el juego con cuidado en el sitio que lo encontraste.
              .item Si al jugar notas que falta algún componente o que hay algo roto, avisa en el grupo de Telegram, así podemos saber qué se puede hacer por arreglarlo.
              .item Todos nuestros juegos con cartas tienen que estar enfundados. Si te encuentras con un juego con cartas sin enfundar, en lo posible, habla con algún socio más veterano para resolverlo (hay que buscar en las fundas existentes para ver si nos quedan, y si no se le piden a la tienda directamente).


