---
title: Juegos de Rol
---
extends ../includes/layouts/full_page.pug

block contents
  #ttrpg
    .ui.basic.segment
      h1.header Juegos de Rol

      p Sumérgete en el fascinante mundo de los juegos de rol con nosotros. No importa si eres un novato o un veterano, nuestra comunidad está abierta para todos los que deseen vivir aventuras épicas y crear historias inolvidables. Fomentamos un ambiente colaborativo y amigable donde la imaginación es la clave. Ven y da vida a tus personajes en emocionantes escenarios llenos de desafíos. ¡La aventura y la emoción te esperan!


      p ¡Prepárate para la aventura!

    .ui.basic.segment
      i.play.icon
      a.ui.header(href= filters.urlFor('/pages/rol/ludoteca/'))
        | Consulta nuestra Ludoteca de rol
