---
title: Miniaturas
---

extends ../includes/layouts/full_page.pug

block contents
  #wargames
    .ui.basic.segment
      h1.header Wargames y Miniaturas

      p Descubre el apasionante mundo de los wargames y las miniaturas en nuestra asociación. Aquí, tanto estrategas experimentados como principiantes pueden disfrutar de intensas batallas y desplegar sus tácticas en un entorno lleno de creatividad y precisión. Únete a nuestras sesiones, perfecciona tus habilidades de pintura de miniaturas y comparte con otros entusiastas.

      p ¡Vive la emoción de la estrategia y el arte en cada partida!

    .ui.basic.segment
      img.ui.image.fluid.rounded(src= filters.urlFor("/public/images/miniaturas/portada.jpg"), alt="Asociación Portal Lúdico")
