---
title: Acerca De
---

extends ../includes/layouts/full_page.pug

block contents
  #wargames
    .ui.basic.segment
      h1.header Aviso Legal y Política de Privacidad
      p
        | Los sitios web portalludico.com, portalludico.es, menteludic.com y menteludic.es y sus subdominios (en adelante, el “Sitio Web”) son propiedad de la ASOCIACIÓN CULTURAL PORTAL LÚDICO inscrita en el Registro de Asociaciones de Collado Villalba con C.I.F Nº G-8702862.
      p
        | La ASOCIACIÓN CULTURAL PORTAL LÚDICO le da la bienvenida y le invita a leer atentamente las Condiciones Generales de Uso, el aviso legal y la política de privacidad que describen los términos y condiciones que serán aplicables a su navegación por el mismo, de conformidad con lo establecido en la normativa española de aplicación. Dado que la ASOCIACIÓN CULTURAL PORTAL LÚDICO podría modificar en el futuro este Aviso Legal y la Política de Privacidad, le recomendamos que las visite periódicamente para estar debidamente informado de los cambios realizados.
      p
        | Con el ánimo de que el uso del Sitio Web se ajuste a criterios de transparencia, claridad y sencillez, la ASOCIACIÓN CULTURAL PORTAL LÚDICO informa al Usuario que cualquier sugerencia, duda o consulta sobre las Condiciones Generales de Uso será recibida y solucionada contactando con la ASOCIACIÓN CULTURAL PORTAL LÚDICO a través de la dirección de correo electrónico: info@portalludico.com.
      h2 Objeto
      p
        | La ASOCIACIÓN CULTURAL PORTAL LÚDICO suministra el contenido y los servicios que están disponibles en el Sitio Web, con sujeción a las presentes Condiciones Generales de Uso, así como a la política sobre tratamiento de datos personales (en adelante, la “Política de Protección de Datos”). El acceso a este Sitio Web o su utilización en cualquier forma le otorga la calificación de “Usuario” e implica la aceptación sin reservas de todas y cada una de las presentes Condiciones Generales de Uso, reservándose la ASOCIACIÓN CULTURAL PORTAL LÚDICO el derecho a modificarlos en cualquier momento. En consecuencia, será responsabilidad de todo Usuario, la atenta lectura de las Condiciones Generales de Uso vigente en cada una de las ocasiones en que acceda a este Sitio Web, por lo que, si éste no está de acuerdo con cualquiera de los mismos aquí dispuestos, deberá abstenerse respecto al uso del presente Sitio Web.
      p
        | Asimismo, queda advertido de que, en ocasiones, se podrán establecer condiciones particulares para la utilización en el Sitio Web de contenidos y/o servicios específicos, la utilización de dichos contenidos o servicios implicará la aceptación de las condiciones particulares en ellos especificadas.
      h2 Servicios
      p
        | A través del Sitio Web, la ASOCIACIÓN CULTURAL PORTAL LÚDICO ofrece a los Usuarios la posibilidad de acceder a información de la asociación, eventos, productos y/o servicios ofrecidos a través de la web, ubicación y apartado de contacto.
      h2 Privacidad y Tratamiento de Datos
      p
        | Cuando para el acceso a determinados contenidos o servicios sea necesario facilitar datos de carácter personal, los Usuarios garantizarán su veracidad, exactitud, autenticidad y vigencia. la ASOCIACIÓN CULTURAL PORTAL LÚDICO dará a dichos datos el tratamiento automatizado que corresponda en función de su naturaleza o finalidad, en los términos indicados en la sección de Política de Protección de Datos, depositada en la sede de la Asociación, y de acuerdo a la ley vigente.
      h2 Propiedad Intelectual e Industrial
      p
        | El Usuario reconoce y acepta que todos los contenidos que se muestran en el Sitio Web y en especial, diseños, textos, imágenes, logos, iconos, botones, software, nombres comerciales, marcas, o cualesquiera otros signos susceptibles de utilización industrial y/o comercial están sujetos a derechos de Propiedad Intelectual y todas las marcas, nombres comerciales o signos distintivos, todos los derechos de propiedad industrial e intelectual, sobre los contenidos y/o cualesquiera otros elementos insertados en el página, que son propiedad exclusiva de la ASOCIACIÓN CULTURAL PORTAL LÚDICO y/o de terceros, quienes tienen el derecho exclusivo de utilizarlos en el tráfico económico. Por todo ello el Usuario se compromete a no reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o modificar tales contenidos manteniendo indemne a la ASOCIACIÓN CULTURAL PORTAL LÚDICO de cualquier reclamación que se derive del incumplimiento de tales obligaciones. En ningún caso el acceso al Sitio Web implica ningún tipo de renuncia, transmisión, licencia o cesión total ni parcial de dichos derechos, salvo que se establezca expresamente lo contrario. Las presentes Condiciones Generales de Uso del Sitio Web no confieren a los Usuarios ningún otro derecho de utilización, alteración, explotación, reproducción, distribución o comunicación pública del Sitio Web y/o de sus Contenidos distintos de los aquí expresamente previstos. Cualquier otro uso o explotación de cualesquiera derechos estará sujeto a la previa y expresa autorización específicamente otorgada a tal efecto por la ASOCIACIÓN CULTURAL PORTAL LÚDICO o el tercero titular de los derechos afectados.
      p
        | Los contenidos, textos, fotografías, diseños, logotipos, imágenes, programas de ordenador, códigos fuente y, en general, cualquier creación intelectual existente en este sitio, así como el propio sitio en su conjunto, como obra artística multimedia, están protegidos como derechos de autor por la legislación en materia de propiedad intelectual. La ASOCIACIÓN CULTURAL PORTAL LÚDICO es titular de los elementos que integran el diseño gráfico del Sitio Web, lo menús, botones de navegación, el código HTML, los textos, imágenes, texturas, gráficos y cualquier otro contenido del Sitio Web o, en cualquier caso, dispone de la correspondiente autorización para la utilización de dichos elementos. El contenido dispuesto en el Sitio Web no podrá ser reproducido ni en todo ni en parte, ni transmitido, ni registrado por ningún sistema de recuperación de información, en ninguna forma ni en ningún medio, a menos que se cuente con la autorización previa, por escrito, de la Asociación o de su cuerpo directivo.
      p
        | Asimismo, queda prohibido suprimir, eludir y/o manipular el “copyright” así como los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren contener los contenidos. El Usuario de este Sitio Web se compromete a respetar los derechos enunciados y a evitar cualquier actuación que pudiera perjudicarlos, reservándose en todo caso la ASOCIACIÓN CULTURAL PORTAL LÚDICO el ejercicio de cuantos medios o acciones legales le correspondan en defensa de sus legítimos derechos de propiedad intelectual e industrial.
      h2 Obligaciones y Responsabilidades del Usuario del Sitio Web
      p
        | El Usuario se compromete a:
      p
        .ui.bulleted.list
          .item Hacer un uso adecuado y lícito del Sitio Web, así como de los contenidos y servicios, de conformidad con: (i) la legislación aplicable en cada momento; (ii) las Condiciones Generales de Uso del Sitio Web; (iii) la moral y buenas costumbres generalmente aceptadas y (iv) el orden público.
          .item Proveerse de todos los medios y requerimientos técnicos que se precisen para acceder al Sitio Web.
          .item Facilitar información veraz al cumplimentar con sus datos de carácter personal los formularios contenidos en el Sitio Web y a mantenerlos actualizados en todo momento de forma que responda, en cada momento, a la situación real del Usuario. El Usuario será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a la ASOCIACIÓN CULTURAL PORTAL LÚDICO o a terceros por la información que facilite.
      p
        | No obstante, lo establecido en el apartado anterior el Usuario deberá asimismo abstenerse de:
      p
        .ui.bulleted.list
          .item Hacer un uso no autorizado o fraudulento del Sitio Web y/o de los contenidos con fines o efectos ilícitos, prohibidos en las presentes Condiciones Generales de Uso, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático.
          .item Acceder o intentar acceder a recursos o áreas restringidas del Sitio Web, sin cumplir las condiciones exigidas para dicho acceso.
          .item Provocar daños en los sistemas físicos o lógicos del Sitio Web, de sus proveedores o de terceros.
          .item Introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar daños en los sistemas físicos o lógicos de la ASOCIACIÓN CULTURAL PORTAL LÚDICO , de sus proveedores o de terceros.
          .item Intentar acceder, utilizar y/o manipular los datos de la ASOCIACIÓN CULTURAL PORTAL LÚDICO, terceros proveedores y otros Usuarios.
          .item Reproducir o copiar, distribuir, permitir el acceso del público a través de cualquier modalidad de comunicación pública, transformar o modificar los contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido.
          .item Suprimir, ocultar o manipular las notas sobre derechos de propiedad intelectual o industrial y demás datos identificativos de los derechos de la ASOCIACIÓN CULTURAL PORTAL LÚDICO o de terceros incorporados a los contenidos, así como los dispositivos técnicos de protección o cualesquiera mecanismos de información que puedan insertarse en los contenidos.
          .item Obtener e intentar obtener los contenidos empleando para ello medios o procedimientos distintos de los que, según los casos, se hayan puesto a su disposición a este efecto o se hayan indicado expresamente en las páginas web donde se encuentren los contenidos o, en general, de los que se empleen habitualmente en Internet por no entrañar un riesgo de daño o inutilización del sitio web y/o de los contenidos.
          .item En particular, y a título meramente indicativo y no exhaustivo, el Usuario se compromete a no transmitir, difundir o poner a disposición de terceros informaciones, datos, contenidos, mensajes, gráficos, dibujos, archivos de sonido y/o imagen, fotografías, grabaciones, software y, en general, cualquier clase de material que:
          .item De cualquier forma, sea contrario, menosprecie o atente contra los derechos fundamentales y las libertades públicas reconocidas constitucionalmente, en los Tratados Internacionales y en el resto de la legislación vigente.
          .item Induzca, incite o promueva actuaciones delictivas, denigratorias, difamatorias, violentas o, en general, contrarias a la ley, a la moral, a las buenas costumbres generalmente aceptadas o al orden público.
          .item Induzca, incite o promueva actuaciones, actitudes o pensamientos discriminatorios por razón de sexo, raza, religión, creencias, edad o condición.
          .item Incorpore, ponga a disposición o permita acceder a productos, elementos, mensajes y/o servicios delictivos, violentos, ofensivos, nocivos, degradantes o, en general, contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público.
          .item Induzca o pueda inducir a un estado inaceptable de ansiedad o temor.
          .item Induzca o incite a involucrarse en prácticas peligrosas, de riesgo o nocivas para la salud y el equilibrio psíquico.
          .item Se encuentra protegido por la legislación en materia de protección intelectual o industrial perteneciente a la ASOCIACIÓN CULTURAL PORTAL LÚDICO o a terceros sin que haya sido autorizado el uso que se pretenda realizar.
          .item Sea contrario al honor, a la intimidad personal y familiar o a la propia imagen de las personas.
          .item Constituya cualquier tipo de publicidad.
          .item Incluya cualquier tipo de virus o programa que impida el normal funcionamiento del Sitio Web.
      p
        | Si para acceder a algunos de los servicios y/o contenidos del Sitio Web, se le proporcionara una contraseña, se obliga a usarla de manera diligente, manteniéndola en todo momento en secreto. En consecuencia, será responsable de su adecuada custodia y confidencialidad, comprometiéndose a no cederla a terceros, de manera temporal o permanente, ni a permitir el acceso a los mencionados servicios y/o contenidos por parte de personas ajenas. Igualmente, se obliga a notificar a la ASOCIACIÓN CULTURAL PORTAL LÚDICO cualquier hecho que pueda suponer un uso indebido de su contraseña, como, a título enunciativo, su robo, extravío o el acceso no autorizado, con el fin de proceder a su inmediata cancelación. En consecuencia, mientras no efectúe la notificación anterior, la ASOCIACIÓN CULTURAL PORTAL LÚDICO quedará eximida de cualquier responsabilidad que pudiera derivarse del uso indebido de su contraseña, siendo de su responsabilidad cualquier utilización ilícita de los contenidos y/o servicios del Sitio Web por cualquier tercero ilegítimo.
      p
        | Si de manera negligente o dolosa incumpliera cualquiera de las obligaciones establecidas en las presentes Condiciones Generales de Uso, responderá por todos los daños y perjuicios que de dicho incumplimiento pudieran derivarse para la Asociación Cultural Portal Lúdico.
      h2 Responsabilidades
      p
        | La ASOCIACIÓN CULTURAL PORTAL LÚDICO no garantiza el acceso continuado, ni la correcta visualización, descarga o utilidad de los elementos e informaciones contenidas en el Sitio Web, que pueden verse impedidos, dificultados o interrumpidos por factores o circunstancias que están fuera de su control.
      p
        | La ASOCIACIÓN CULTURAL PORTAL LÚDICO no se hace responsable de las decisiones que pudieran adoptarse como consecuencia del acceso a los contenidos o informaciones ofrecidas.
      p
        | La ASOCIACIÓN CULTURAL PORTAL LÚDICO podrá interrumpir el servicio o resolver de modo inmediato la relación con el Usuario si detecta que un uso de su Sitio Web o de cualquiera de los servicios ofertados en el mismo son contrarios a las presentes Condiciones Generales de Uso. la ASOCIACIÓN CULTURAL PORTAL LÚDICO no se hace responsable por daños, perjuicios, pérdidas, reclamaciones o gastos derivados del uso del Sitio Web. Únicamente será responsable de eliminar, lo antes posible, los contenidos que puedan generar tales perjuicios, siempre que así se notifique. En especial no será responsable de los perjuicios que se pudieran derivar, entre otros, de:
      p
        .ui.bulleted.list
          .item Interferencias, interrupciones, fallos, omisiones, averías telefónicas, retrasos, bloqueos o desconexiones en el funcionamiento del sistema electrónico, motivadas por deficiencias, sobrecargas y errores en las líneas y redes de telecomunicaciones, o por cualquier otra causa ajena al control de la ASOCIACIÓN CULTURAL PORTAL LÚDICO
          .item Intromisiones ilegítimas mediante el uso de programas malignos de cualquier tipo y a través de cualquier medio de comunicación, tales como virus informáticos o cualesquiera otros.
          .item Abuso indebido o inadecuado del Sitio Web.
          .item Errores de seguridad o navegación producidos por un mal funcionamiento del navegador o por el uso de versiones no actualizadas del mismo. Los administradores de la página web se reservan el derecho de retirar, total o parcialmente, cualquier contenido o información presente en el Sitio Web.
          .item La ASOCIACIÓN CULTURAL PORTAL LÚDICO excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que pudieran deberse a la mala utilización de los servicios de libre disposición y uso por parte de los Usuarios de Sitio Web. Asimismo, la ASOCIACIÓN CULTURAL PORTAL LÚDICO queda exonerada de cualquier responsabilidad por el contenido e informaciones que puedan ser recibidas como consecuencia de los formularios de recogida de datos, estando los mismos únicamente para la prestación de los servicios de consultas y dudas. Por otro lado, en caso de causar daños y perjuicios por un uso ilícito o incorrecto de dichos servicios, podrá ser el Usuario reclamado por la ASOCIACIÓN CULTURAL PORTAL LÚDICO de los daños o perjuicios causados.
          .item Usted defenderá, indemnizará y mantendrá a la ASOCIACIÓN CULTURAL PORTAL LÚDICO indemne frente a cualesquiera daños y perjuicios que se deriven de reclamaciones, acciones o demandas de terceros como consecuencia de su acceso o uso del Sitio Web. Asimismo, usted se obliga a indemnizar la ASOCIACIÓN CULTURAL PORTAL LÚDICO frente a cualesquiera daños y perjuicios, que se deriven del uso por su parte de “robots”, “spiders”, “crawlers” o herramientas similares empleadas con el fin de recabar o extraer datos o de cualquier otra actuación por su parte que imponga una carga irrazonable sobre el funcionamiento del Sitio Web.
      h2 Hipervínculos
      p
        | El Sitio Web de la ASOCIACIÓN CULTURAL PORTAL LÚDICO incluye enlaces a otros sitios web gestionados por terceros, con objeto de facilitar el acceso del Usuario a la información de empresas colaboradoras y/o patrocinadoras. Conforme con ello, la ASOCIACIÓN CULTURAL PORTAL LÚDICO no se responsabiliza del contenido de dichos sitios web, ni se sitúa en una posición de garante ni/o de parte ofertante de los servicios y/o información que se puedan ofrecer a terceros a través de los enlaces de terceros.
      p
        | El Usuario se obliga a no reproducir de ningún modo, ni siquiera mediante un hiperenlace o hipervínculo, el Sitio Web de la ASOCIACIÓN CULTURAL PORTAL LÚDICO, así como ninguno de sus contenidos, sin la autorización previa, expresa y por escrito a la ASOCIACIÓN CULTURAL PORTAL LÚDICO.
      p
        | Se concede al Usuario un derecho limitado, revocable y no exclusivo a crear enlaces a la página principal del Sitio Web exclusivamente para uso privado y no comercial. Los sitios web que incluyan enlace a nuestro Sitio Web seguirán la siguiente política de publicaciones:
      p
        .ui.bulleted.list
          .item No podrán dar a entender que la ASOCIACIÓN CULTURAL PORTAL LÚDICO recomienda ese sitio web o sus servicios o productos;
          .item No podrán falsear su relación con la ASOCIACIÓN CULTURAL PORTAL LÚDICO ni afirmar que la ASOCIACIÓN CULTURAL PORTAL LÚDICO ha autorizado tal enlace, ni incluir marcas, denominaciones, nombres comerciales, logotipos u otros signos distintivos de la ASOCIACIÓN CULTURAL PORTAL LÚDICO;
          .item No podrán incluir contenidos que puedan considerarse de mal gusto, obscenos, ofensivos, controvertidos, que inciten a la violencia o la discriminación por razón de sexo, raza o religión, contrarios al orden público o ilícitos. Contenidos con los que la asociación no está de acuerdo.
          .item No podrán enlazar a ninguna página del Sitio Web distinta de la página principal, a no ser que se cuente con autorización previa, expresa y por escrito.
          .item Deberá enlazar con la propia dirección del Sitio Web, sin permitir que el sitio web que realice el enlace reproduzca el Sitio Web como parte de su web o dentro de uno de sus “frames” o crear un “browser” sobre cualquiera de las páginas del Sitio Web. la ASOCIACIÓN CULTURAL PORTAL LÚDICO podrá solicitar, en cualquier momento, que elimine cualquier enlace al Sitio Web, después de lo cual deberá proceder de inmediato a su eliminación. la ASOCIACIÓN CULTURAL PORTAL LÚDICO no puede controlar la información, contenidos, productos o servicios facilitados por otros sitios web que tengan establecidos enlaces con destino al Sitio Web.
          .item Se podrá enlazar directamente al contenido de la página web desde otros portales, páginas, o medios sociales, dando publicidad y el debido reconocimiento a la Asociación y a su página web, siempre y cuando el contenido a enlazar no se transfiera, duplique o divulgue en un modo técnico diferente al de la comunicación original.
      p
        | En consecuencia, la ASOCIACIÓN CULTURAL PORTAL LÚDICO no asume ningún tipo de responsabilidad por cualquier aspecto relativo a tales sitios web que en lacen al contenido de la Página Web de la Asociación.
      h2 Protección de datos y Privacidad
      p
        | La ASOCIACIÓN CULTURAL PORTAL LÚDICO, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los formularios de los Sitios Web: portalludico.com, portalludico.es, menteludic.com y menteludic.es, se incluyen en los ficheros automatizados específicos de usuarios de los servicios de la ASOCIACIÓN CULTURAL PORTAL LÚDICO. La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de la relación informativa, comercial o de cualquier tipo establecido y el desempeño de tareas de información, formación, asesoramiento y otras actividades propias de la Asociación.
      p
        | Estos datos  únicamente  serán  cedidos  a  aquellas  entidades  que  sean  necesarias  con  el  único  objetivo  de  dar cumplimiento a la finalidad anteriormente expuesta.La ASOCIACIÓN CULTURAL PORTAL LÚDICO adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos. El  usuario  podrá  en  cualquier  momento  ejercitar  los  derechos  de  acceso,  oposición,  rectificación  y  cancelación reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo el propio usuario a través de email a: secretario@portalludico.com o en la dirección: Calle Honorio Lozano, 12. 28400. Collado Villalba. Madrid. España.
      p
        | El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se compromete a mantenerlos actualizados, comunicando los cambios a la Asociación por cualquier medio autorizado.
      h3 Finalidad del tratamiento de los datos personales:
      p
      b ¿Con qué finalidad trataremos tus datos personales?
      p
        | En la ASOCIACIÓN CULTURAL PORTAL LÚDICO,  trataremos  tus  datos personales  recabados  a  través de los Sitios Web: portalludico.com, portalludico.es, menteludic.com y menteludic.es, con las siguientes finalidades:
      p
        .ui.bulleted.list
          .item En caso de contratación de los bienes y servicios ofertados a través de la Asociación, para mantener la relación contractual, así como la gestión, administración, información, prestación y mejora del servicio.
          .item Envío de información solicitada a través de los formularios dispuestos en cualquiera de las páginas web o sus subdominios.
          .item Remitir boletines (newsletters), así como comunicaciones comerciales de promociones, eventos, congresos, actividades y/o publicidad de la Asociación y del sector. Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento, remitiendo un correo electrónico a la dirección indicada anteriormente. Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan esos datos.
      p
      b ¿Por cuánto tiempo se conservan los datos personales recabados?
      p
        | Los datos personales proporcionados se conservarán mientras se mantenga la relación con la Asociación o no solicites su supresión y durante el plazo por el cuál pudieran derivarse responsabilidades legales por los servicios prestados.
      p
        | Legitimación: El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo:
      p
        .ui.bulleted.list
          .item La solicitud de información y/o la contratación de los servicios de la Asociación, cuyos términos y condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación o solicitud.
          .item El consentimiento libre, específico, informado e inequívoco, en tanto que le informamos poniendo a su disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme, puede aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al efecto.
      p
        | En caso de que no nos facilite sus datos o lo haga de forma errónea o incompleta, no podremos atender su solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.
      b Destinatarios de los datos
      p
        | Los datos no se comunicarán a ningún tercero ajeno a la ASOCIACIÓN CULTURAL PORTAL LÚDICO, salvo obligación legal.
      em Cesión de los datos:
      p
        | Si en un futuro debieramos transferir, comunicar o compartir cualquiera de sus datos con algún proveedor de servicios o asociado para ofrecer un mejor servicio (cesión de datos), nos aseguraríamos de contar con su consentimiento previo, específico e inequívoco.
      em Acceso a los datos:
      p
        | Si un tercero ajeno a la Asociación, necesitase acceder a sus datos, le comunicaríamos vía email dicha necesidad, asegurándonos en todo momento, y según lo establecido por la normativa vigente, que se hace un uso adecuado, porporcional, necesario y exclusivo de dichos datos.
      p
        | En los casos en que el usuario incluya ficheros con datos de carácter personal en los servidores de alojamiento compartido, la Asociación no se hace responsable del incumplimiento por parte del usuario del RGPD.
      h2 Uso de cookies
      p
        | Las Cookies son unos pequeños archivos de texto que se envían al ordenador para que los sitios web recuerden la configuración y la información que se envía desde dicho equipo, con el objetivo de que no tenga que volver a introducir dichos datos la próxima vez que visite un sitio web de nuevo o cuando visite por primera vez una página en el mismo sitio web. La Pagina web también usa las Cookies para medir la forma en que hace uso de los sitios web de la ASOCIACIÓN CULTURAL PORTAL LÚDICO, lo que permite que se asegure de que dichos sitios satisfagan sus necesidades. La primera vez que visite uno de los sitios web de ASOCIACIÓN CULTURAL PORTAL LÚDICO, recibirá un aviso sobre el uso de Cookies. Es posible controlar si su ordenador acepta Cookies o no, desde la configuración de su navegador (por ejemplo, bajo los menús «Opciones de Internet», «Configuración» o «Preferencias» del navegador). No obstante, recuerde que si no acepta las Cookies, podría verse afectada su experiencia como usuario de sitios web de la Asociación. Si desea más información sobre la gestión o eliminación de Cookies, visite el sitio www.allaboutcookies.org.
      h2 Duración y terminación
      p
        | La prestación del servicio del presente Sitio Web y los demás servicios tienen en principio una duración indefinida. No obstante, la ASOCIACIÓN CULTURAL PORTAL LÚDICO podrá dar por terminada o suspender cualquiera de los servicios del portal. Cuando sea ello posible, la ASOCIACIÓN CULTURAL PORTAL LÚDICO anunciará la terminación o suspensión de la prestación del servicio determinado.
      h2 Declaraciones y Garantías
      p
        | En general, los contenidos y servicios ofrecidos en el Sitio Web tienen carácter meramente informativo. Por consiguiente, al ofrecerlos, la ASOCIACIÓN CULTURAL PORTAL LÚDICO no otorga garantía ni declaración alguna en relación con los contenidos y servicios ofrecidos en el Sitio web, incluyendo, a título enunciativo, garantías de licitud, fiabilidad, utilidad, veracidad, exactitud, o comerciabilidad, salvo en la medida en que por ley no puedan excluirse tales declaraciones y garantías.
      h2 Fuerza mayor
      p
        | La ASOCIACIÓN CULTURAL PORTAL LÚDICO no será responsable en caso de imposibilidad de prestar servicio, si ésta se debe a interrupciones prolongadas del suministro eléctrico, líneas de telecomunicaciones, conflictos sociales, huelgas, rebelión, explosiones, inundaciones, actos y omisiones del Gobierno, y en general todos los supuestos de fuerza mayor o de caso fortuito.
      h2 Resolución de controversias. Ley aplicable y jurisdicción
      p
        | Las presentes Condiciones Generales de Uso, así como el uso del Sitio Web, se regirán por la legislación española. Cualquier controversia será resuelta ante los tribunales de Collado Villalba.
      p
        | En el supuesto de que cualquier estipulación de las presentes Condiciones Generales de Uso resultara inexigible o nula en virtud de la legislación aplicable o como consecuencia de una resolución judicial o administrativa, dicha inexigibilidad o nulidad no hará que las presentes Condiciones Generales de Uso resulten inexigibles o nulas en su conjunto. En dichos casos, la ASOCIACIÓN CULTURAL PORTAL LÚDICO procederá a la modificación o sustitución de dicha estipulación por otra que sea válida y exigible y que, en la medida de lo posible, consiga el objetivo y pretensión reflejados en la estipulación original.
