$color-primary: #333333;

$color-menteludic1: #2460A1;
$color-menteludic2: #ca7daa;
$color-menteludic3: #93c7d5;
$color-menteludic4: #90ab33;
$color-menteludic5: #ca5228;
$color-menteludic6: #d8872d;
$color-menteludic7: #c0cd39;
$color-menteludic8: #eac72c;

$color-boardgames: $color-menteludic1;
$color-ttrpg: $color-menteludic2;
$color-wargames: $color-menteludic3;
$color-events: $color-menteludic4;
$color-about: $color-menteludic5;
$color-about: $color-menteludic6;
$color-contact: $color-menteludic7;
$color-calendar: $color-menteludic8;
$color-blog: $color-menteludic4;

body {
  font-family: 'Rubik', serif;

  #footer {
    .logo_portalludico {
      width: 100px;
    }
  }
}

.ui.inverted.vertical.segment {
  &.footer, &.navbar {
    background-color: $color-primary;
  }
}

.hidden.menu {
  display: none;
}

.ui.vertical.stripe {
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.blog-list {
  .crop {
      width: 100%;
      height: 150px;
      overflow: hidden;
  }

  .crop img {
      width: 400px;
      height: 300px;
      margin: -75px 0 0 -100px;
  }
}

#boardgames{
  .ui.segment:not(.basic){
    border-top: 2px solid $color-boardgames !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#ttrpg, #ttrpg_ludoteca{
  .ui.segment:not(.basic){
    border-top: 2px solid $color-ttrpg !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#wargames{
  .ui.segment:not(.basic){
    border-top: 2px solid $color-wargames !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#events{
  .ui.segment:not(.basic){
    border-top: 2px solid $color-events !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#about, #donde_estamos {
  .ui.segment:not(.basic){
    border-top: 2px solid $color-about !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#calendar{
  .ui.segment:not(.basic){
    border-top: 2px solid $color-calendar !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

#blog_entry{
  .ui.segment:not(.basic){
    border-top: 2px solid $color-blog !important;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .title_image {
    max-height: 500px;
  }
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
}

#index {
  .section {
    .content {
      min-height: 120px;
      text-align: center;
    }
  }
  .ui.container {
    margin: 0 auto;
  }

  .ui.segment:not(.basic) {
    &.boardgames {
      border-top: 2px solid $color-boardgames !important;
    }
    &.ttrpg {
      border-top: 2px solid $color-ttrpg !important;
    }
    &.wargames {
      border-top: 2px solid $color-wargames !important;
    }
    &.events {
      border-top: 2px solid $color-events !important;
    }
    &.about {
      border-top: 2px solid $color-about !important;
    }
  }

  i.icon.boardgames {
    background-color: $color-boardgames !important;
  }
  i.icon.ttrpg {
    background-color: $color-ttrpg !important;
  }
  i.icon.wargames {
    background-color: $color-wargames !important;
  }
  i.icon.events {
    background-color: $color-events !important;
  }
  i.icon.about {
    background-color: $color-about !important;
  }
}

// #events .video-js {
//   width: 100%;
//   margin: auto;
// }