---
title: Incio
---
extends includes/layouts/full_page.pug
include includes/layouts/mixins/blogList.pug

block contents
  #index
    .ui.basic.padded.segment
      img.image.ui.big.rounded(src= filters.urlFor('/public/images/index/group.jpg'), alt='Asociación Portal Lúdico')
    .ui.basic.padded.segment
      .header
        h1 Bienvenido a nuestra web
      .content
        p
          .text Somos una asociación de la sierra de Madrid que desde 2017 disfrutamos y hacemos disfrutar de un ocio sano y enriquecedor.
          .text A lo largo de estos años hemos creado una comunidad en la que todos y todas somos bienvenidos, así que no dudes en explorar esta web, conocernos y ponerte en contacto con nosotros.
          .text Actualmente con más de 90 socios y socias, y un local propio, realizamos multitud de actividades dirigidas tanto a socios como a quien nos lo solicite.

    .ui.basic.padded.segment
      .ui.accordion
        each item in collections.frontpageSection
          .ui.segment(class= item.data.color)
            .title
              .ui.header
                i(class= `inverted ${item.data.color} circular ${item.data.icon} icon`)
                .content= item.data.title
            .content
              .ui.container.segment.block.clear
                != item.content
                a.ui.basic.button.right.floated(href= filters.urlFor(item.data.url))
                  | Más información
                  i.right.arrow.icon
                div(style= 'clear: both')

      .ui.segment
        +blogList(collections.blogFrontpage)


